[Unit]
Description=Nyoy Rails app
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/srv/kbmemo/nyoy
ExecStart=/srv/kbmemo/nyoy/start.sh
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
